body {
  margin: 25px;
}
/* points */


/* map */
.tooltip {
  font-weight: bold;
  padding: 0.5rem;
  border: 1px solid silver;
  color: #222;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

#details, #initial {
  margin-top: 2rem;
}

table {

  margin-bottom: 0;
}
td, th {
  padding: 6px 9px;
}
td {
  text-align: left;
}
tr:hover {background-color: #f5f5f5;}

.container {
  width: 100%;
}

.footer {
  border-top: 1px solid silver;
  color: #888888;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

#close-details {
  color: #FA5858;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
  line-height: 4.5rem;
}
#close-details:hover {
  color: red;
}

#map {
  font-size: 0; /* to prevent margin at bottom of map container */
  border: 1px solid silver;
  background: #E6E6E6;
  width: 100%;
  overflow: hidden;
  float: left;
}

#chart{
  width: 48%;
  overflow: hidden;
  float: right;

}
#legend {
  border: 1px solid silver;
  border-top: 0;
  width: 100%;
}

.legend-key path {
  display: none;
}

.legend-key text {
  font-size: 1rem;
}

.legend-key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

/* Thanks to http://colorbrewer2.org/ */
.BuGn .q0-9{fill:rgb(247,252,253)}
.BuGn .q1-9{fill:rgb(229,245,249)}
.BuGn .q2-9{fill:rgb(204,236,230)}
.BuGn .q3-9{fill:rgb(153,216,201)}
.BuGn .q4-9{fill:rgb(102,194,164)}
.BuGn .q5-9{fill:rgb(65,174,118)}
.BuGn .q6-9{fill:rgb(35,139,69)}
.BuGn .q7-9{fill:rgb(0,109,44)}
.BuGn .q8-9{fill:rgb(0,68,27)}

g.features {
  stroke: #d8d8d8;
  stroke-width: 0.5;
}
g.features path:hover {
  opacity: 0.5;
}
