body {
 background:#484D60;
 color:#FFFFFF;
 font-size:11px;
 font-family:Ubuntu, Roboto, Lato, "Open Sans", sans serif;
 overflow:hidden;
}
.axis path, .axis line {
 fill:none;
 stroke:#484D60;
 shape-rendering:crispEdges;
}
.dot{
 fill:#F6B1EE;
 stroke:#F6B1EE;
}
.label{
 fill:#FFFFFF;
}
.line{
 fill:#F6B1EE;stroke:#F6B1EE;
}
.xAxis{
 stroke:#FFFFFF;
 fill:none;
}
.yAxis{
 stroke:#FFFFFF;
 fill:none
}
.mainBox{
 background:#484D60 !important;
 margin:10px;
 border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;
 border:1px solid #484D60;
}
.bubbleText{
 font-size:12px;
 fill:#FFFFFF;
}
.output{
 font-size:14px;
 font-family:Ubuntu, Roboto, Lato, "Open Sans", sans serif
}
.title{
 fill:#FFFFFF;
 font-weight:400;
 font-size:30px;
}
.legend rect {
 fill:transparent;
 stroke:transparent;
}
